html, body {
    min-height: 100vh !important;
    min-width: 100vw !important;
    padding: 0;
    margin: 0;
}

.body-class {
    background-color: #f3f3f3;
}

.main-container {
    float: left;
    padding: 15px;
}

.login-box{
    height:200px;
    width: 280px;
    color: #FFFFFF;
    background: #1DB254;
    display: table;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -140px;
}
