.menu-container {
    float: left;
    min-height: 100vh;
    background: #1DB254;
    color: #FFFFFF;
}
.menu-profile{
    padding: 15px;
    height: 100px;
}
.menu-logout {
    text-align: right;
}

.menu-logout a {
    color: #FFFFFF;
    text-decoration: underline;
}

.menu-item {
    text-align: right;
}
.menu-item a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 15px;
    color: #FFFFFF;
    
}

.menu-item.selected{
    background: #1D9254;
}
